<div style="text-align: center">
  <form #f="ngForm" (ngSubmit)="login(f)">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput name="name" ngModel required #name="ngModel"/>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput name="password" ngModel required #password="ngModel"/>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid">Login</button>
  </form>
</div>
