<div>
  <div [formGroup]="loginForm" style="text-align: center">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="name" formControlName="name" required/>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" formControlName="password" required/>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </div>
</div>
