<mat-dialog-content [formGroup]="form">
  <p>
    <mat-form-field *ngIf="action === 'update'">
      <mat-label>Id</mat-label>
      <input matInput formControlName="id" required readonly>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field *ngIf="target !== 'order'">
      <mat-label>Name</mat-label>
      <input matInput placeholder="name" formControlName="name" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field *ngIf="target === 'client'">
      <mat-label>Description</mat-label>
      <input matInput placeholder="description" formControlName="description" required>
    </mat-form-field>
  </p>
  <div *ngIf="target === 'user'">
    <p>
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
    </p>
  </div>

  <div *ngIf="target === 'product'">
    <p>
      <mat-form-field>
        <mat-label>Stock</mat-label>
        <input matInput formControlName="stock" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" required>
      </mat-form-field>
    </p>
  </div>

  <div *ngIf="target === 'order'">
    <p>
      <mat-form-field>
        <mat-label>Client_name</mat-label>
        <mat-select formControlName="client_name">
          <mat-option *ngFor="let client of clients" [value]="client.name">
            {{client.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Product_name</mat-label>
        <mat-select formControlName="product_name">
          <mat-option *ngFor="let product of products" [value]="product.name">
            {{product.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Employee_name</mat-label>
        <mat-select formControlName="employee_name">
          <mat-option *ngFor="let user of users" [value]="user.name">
            {{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" required>
      </mat-form-field>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" type="submit" [disabled]="form.invalid" (click)="save()">Save</button>
</mat-dialog-actions>
